.operation {
  @include adaptiveValue("padding-top", 120, 40);
  @include adaptiveValue("padding-bottom", 86, 50);
  background: $section-background-color;

  /* .operation__container */
  &__container {
    display: flex;
    align-items: center;

    @media (max-width:$tablet) {
      flex-direction: column;
      gap: 50px;
    }
  }

  /* .operation__content */
  &__content {
    flex: 1 1 53.030%;
    @include adaptiveValue("padding-right", 40, 0);

    @media (max-width:$mobile) {
      padding: 0;
    }
  }

  /* .operation__title */
  &__title,
  &__features-title {
    margin: 0px 0px rem(25) 0px;
  }

  /* .operation__list */
  &__list,
  &__features-list {
    margin: 0px 0px rem(40) 0px;
  }

  /* .operation__item */
  &__item,
  &__features-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: rem(30);

    font-size: rem(20);
    font-weight: 600;

    &::before {
      position: absolute;
      left: 0;
    }

  }

  /* .operation__features-item */
  &__features-item {

    &:not(:last-child) {
      margin: 0px 0px rem(15) 0px;
    }

    &::before {
      position: absolute;
      left: 0;
      top: rem(6);
    }

    p {
      font-size: rem(17);
      font-weight: 500;
    }
  }



  /* .operation__image */

  &__image {
    flex: 1 1 34.090%;
    text-align: center;
  }

  img {
    width: 100%;

    @media (max-width:$tablet) {
      width: 60%;
    }
  }
}