.page {

  /* .page__portfolio */
  &__portfolio {}
}

.portfolio {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);

  background: $section-background-color-revers;

  &__subtitle {
    margin: 0px 0px rem(50) 0px;

    text-align: center;
  }

  /* .portfolio__body */
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px;

    @media (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 0px rem(5) 0px;
  }
}

.project {
  padding: rem(24) rem(20);
  display: flex;
  flex-direction: column;

  word-wrap: break-word;
  overflow: hidden;

  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  border-radius: 4px;
  opacity: .9;
  transition: all .5s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 4px 4px 5px rgba(129, 72, 144, .561);
      overflow: hidden;

      transform: scale(1.02);
    }
  }

  /* .project__image */
  &__image {
    margin: 0px 0px rem(25) 0px;
    width: 100%;

    opacity: 0.8;
    border-color: 1px solid white;
  }

  /* .project__content */
  &__content {
    margin: 0px 0px rem(24) 0px;
    flex: 1 1 auto;

    text-align: center;
  }

  /* .project__title */
  &__title {
    margin: 0px 0px rem(10) 0px;

    font-size: rem(20);
  }

  /* .project__text */
  &__text {
    font-weight: 500;
    text-align: justify;

    @media (max-width:$tablet) {
      font-size: rem(14);
    }
  }

  /* .project__link */
  &__link {
    align-self: center;

    @media (any-hover: hover) {
      &:hover {
        background-color: $bg-btn-hv;
        border-color: $bg-btn-hv;
      }
    }
  }
}

// Пагинация для проектов

.swiper-pagination-bullet {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid $imp-text-color;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: $bg-btn-hv;

  box-shadow: 0 0 5px #c770f0;
}