logs/
**/node_modules/
**/kvartir-rem-v1.0/
.idea/
**/.DS_Store
*/.DS_Store
**/__pycache__
*.aux
*.log
*.pickle
*.db
*.rdb
*.pid
*.toc
*.out
*.pickle
celerybeat-schedule                                                                     
.ipynb_checkpoints
venv/
dist/
.DS_Store
