//====================================================================================================

.footer {
  font-size: 1em;
  font-weight: 500;
  padding: 8px 0px;

  background-color: rgb(10, 4, 22);

  /* .footer__container */
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:$mobileSmall){
       flex-direction: column; 
    }
  }

  &__logo {
    margin: 0px 0px 30px 0px;
  }

  /* .footer__slogan */
  &__slogan {
    @media (max-width:$mobile) {
      display: none;
    }
  }

  /* .footer__social */
  &__social {}
}

.copyright {}

.social-footer {
  display: flex;
  gap: 30px;

  /* .social-footer__item */
  &__item {}

  /* .social-footer__link */
  &__link {
    display: inline-block;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        opacity: .4;
      }
    }
  }
}

.social {

  /* .social__icon */
  &__icon {}
}


//====================================================================================================